In [1]:
# Dependencies

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [4]:
world_data = pd.read_csv('annual-deforestation.csv')
world_data.drop('Code', inplace=True, axis=1)
world_data

       Entity  Year  Deforestation
0      Africa  1990      4096000.0
1      Africa  2000      4314000.0
2      Africa  2010      4444000.0
3      Africa  2015      4414000.0
4     Algeria  1990        14800.0
..        ...   ...            ...
490    Zambia  2015       189710.0
491  Zimbabwe  1990        46070.0
492  Zimbabwe  2000        46070.0
493  Zimbabwe  2010        46070.0
494  Zimbabwe  2015        46070.0

[495 rows x 3 columns]